#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #14132b;
}

.navbar-brand-custom {
  color: #FFB300;
}

.nav-link-custom {
  color: yourColorHere; /* Replace with your desired color */
}

